body { 
	margin-top: 54px;
}

.home-parallax {
	height: 550px;
	position: relative;
	 /* color: #fff;  */
}

.home-parallax-content {
	position: absolute;
	top:45%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
}

.home-parallax-content h1 {
	font-size: 3em;
	font-weight: 400;
	letter-spacing: 0.05em;
}
.home-parallax-subtitle {
	font-size: 2.2em;
	font-weight: 300;
}

.home-parallax-bg {
	background-image: url("../img/desk-2.jpg");
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.home-header-buttons {
	margin-top: 2em;
}

.section-header {
	padding-top: 5em;
	padding-bottom: 5em;
}

.section-title {
	margin-bottom: 1em; 
	/* margin-top: 2.2em; */
	font-weight: 300;
	/* text-transform: uppercase; */
}

.tiles-container {
	/* margin-bottom: 1.25em; 
	margin-top: 4em; */
	font-weight: 400;
	/* text-transform: uppercase; */
}

.tile-title, .tile h3 {
	font-weight: 300;
	/* margin-top: 1.5em; */
	margin-bottom: 0;
}

.tile {
	padding: 3em;
	text-align: center;
}

.tile h3 {
	margin-top: 1em;
	margin-bottom: 0.5em;
}

.tile-picture {
	width: 50%;
	max-width: 200px;
	border-radius: 50%;
	margin-bottom: 3em;
	margin-top: 3em;
	border: 6px solid #FAA088;
}

.block-picture {
	padding: 0;
	min-height: 200px;
}

.block-bg {
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100%;
}

.footer {
	background-color: #f5f5f5;
	padding-top: 3em;
	padding-bottom: 3em;
}

.border-color-one {
	border-color: #FA977B;
}
.border-color-two {
	border-color: #FCDC9E;
}
.border-color-three {
	border-color: #75C6F5;
}

.bg-color-one {
	background-color: #FFB099;
}
.bg-color-two {
	background-color: #FFF1D4;
}
.bg-color-three {
	background-color: #98D1F3;
}
